.commonNav {
  height: 52px;
  position: relative;

  .navContainer {
    height: 100%;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;

    .teslaLogoContainer {
      width: 100px;
      height: 24px;

      .teslaLogo {
        width: 100%;
        height: 100%;
        filter: invert(100%);
      }
    }

    .carList {
      display: flex;
      color: white;

      li {
        margin: 0 10px;
        font-size: 14px;
      }
    }

    .navLoginContainer {
      display: flex;
      align-items: center;

      .navLoginBtn {
        margin: 0 10px;
        font-size: 14px;
        color: white;
      }

      .fas {
        color: white;
      }
    }
  }
}
