.FooterBtnContainer {
  width: 100%;
  height: 112px;
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 0;

  .mainViewBtns {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
