@import '../../../Styles/common.scss';

.InfoContent {
  display: flex;

      .infoList {
        width: 50%;
        height: 502px;
        margin: 8px 0;
      }

      .infoListItem {
        animation: shortFadein .5s ease-in-out;
        margin-bottom: 18px;
        padding-right: 18px;
        padding-bottom: 10px;
        width: 100%;

        .infoItemTitle, .infoItemValue {
          display: block;
          padding-right: 20px;
          line-height: 20px;
          font-size: 1.4rem;
        }
      }

      .infoListItem::before {
        display: block;
        content: '';
        margin-top: 20px;
        margin-bottom: 8px;
        width: 26px;
        height: 1px;
        background-color: hsla(0,0%,100%,.5);
      }
}