* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-size: 10px;
  font-family: HeiT ASC Traditional Chinese, M Hei PRC W45,
    AXIS Font Japanese W55, FB New Gothic, Gotham Book, system, sans-serif;
  outline-style: none;
}

$gray: #999999;
$borderGray: #dfdfdf;
$borderBlue: #007fff;

@mixin center($justify-content) {
  display: flex;
  justify-content: $justify-content;
  align-items: center;
}
