.powerSupply {
  height: 100vh;
  width: 100vw;
  position: relative;
  background-image: url("https://www.tesla.com/sites/default/files/images/homepage/homepage-solar%402x.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
}
