@import '../../../Styles/common.scss';

.Performance {
  width: 100vw;
  height: 100vh;

  .performanceContainer {
    @include center(center);
    flex-direction: column;
    width: 100%;
    height: 100%;
  }
  .performanceMain {
    position: relative;
    width: 100%;
    height: 100%;
    background: url(https://tesla-cdn.thron.com/delivery/public/image/tesla/c566e836-ea95-462a-99c0-cb8af3553a30/bvlatuR/std/0x0/model-s-performance)no-repeat center / 100%;
  }
}