@import '../../../Styles/common.scss';

.Performance {
  width: 100vw;
  height: 100vh;

  .performanceContainer {
    @include center(center);
    flex-direction: column;
    width: 100%;
    height: 100%;
  }
  .performanceMain {
    position: relative;
    width: 100%;
    height: 100%;
  }
}