@import '../../../Styles/common.scss';

.Autopilot {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;

  .autopilotMain {
    position: relative;
    width: 100%;
    height: 100%;
  }

  .videoWrap {
    @include center(center);
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  
  video {
    width: 100%;
  }
}