.mainModelY {
  height: 100vh;
  width: 100vw;
  background-image: url("https://tesla-cdn.thron.com/delivery/public/image/tesla/0d1d73a1-3d4f-48dc-a3dc-22316e8cffbb/bvlatuR/std/0x0/blue-hero-desktop");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}
