.submenuActive {
  width: 310px;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;

  .submenuListContaner {
    height: 100vh;
    background-color: white;
    padding-top: 52px;

    li {
      height: 52px;
      margin: 0 20px;
      display: flex;
      align-items: center;
      border-bottom: 1px solid lightgray;

      .submenuIconContainer {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

      span {
        font-size: 14px;

        .submenuquit {
          width: 18px;
          height: 18px;
        }
      }
    }
  }
}
