@import '../../../../Styles/common.scss';

.OverflowContents{
  @include center(center);
  width: 100%;
  height: 100%;

  .overflowContentsCenter, .overflowContentsLeft, .overflowContentsright {
    @include center(center);
    width: 100%;
  }

  .overflowContentsLeft {
    height: 62%;
  }

  .overflowItemContainer {
    @include column;
    width: 100%;
    height: 100%;
    z-index: 10;

    li {
    height: 100%;
    padding: 40px 0;
    }
  }

  .overflowLeft {
    align-items: flex-start;
    margin-left: 9%;
  }

  .overflowright {
    align-items: flex-end;
    margin-right: 9%;
    filter: invert(100);
  }

  .overflowItems {
    display: flex;
    flex-direction: column;
    width: 270px;
  }

  .overflowItemsHeader {
    animation: fadeinReverse .7s ease-in-out;
    display: flex;
    margin-bottom: 7px;
    font-size: 2.8rem;
    font-weight: 600;

    span {
      width: 85px;
      padding: 0 5px;
      font-size: 1.4rem;
    }
  }

  .overflowItemsContent{
    animation: fadein 1s ease-in-out;
    font-size: 1.2rem;
  }
  .overflowItemsHeaderLast {
    width: 40px;
    height: 40px;
    background: url(https://tesla-cdn.thron.com/delivery/public/image/tesla/0244c34f-2054-4549-9aff-a055db265926/bvlatuR/std/0x0/autopilot)no-repeat center / 100%;
  }
}