@import "../../../Styles/common.scss";

.OrderInterior {
  @include center(center);
  height: calc(100vh - 166px);
  width: 100%;
  overflow: hidden;

  .wrapInsideCarImg {
    width: 100%;

    .insideCarImg {
      min-width: 100%;
      opacity: 0;

      &.appearComponent {
        transition: opacity 1s;
        opacity: 1;
      }
    }
  }
}
