.CommonNav {
  height: 52px;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 20;
  position: absolute;
  width: 100%;

  .teslaLogoContainer {
    width: 100px;
    height: 24px;

    .TeslaLogoImg {
      width: 100%;
      height: 100%;
      filter: invert(100%);
    }
  }

  .submenuListContaner li span {
    cursor: pointer;
  }

  .submenuIconContainer span {
    cursor: pointer;
  }
  
  .carList {
    display: flex;
    color: white;

    .link {
      color: white;
    }
    
    li {
      margin: 0 10px;
      font-size: 16px;
      font-weight: 600;
    }
    .link {
      margin: 0 10px;
      font-size: 16px;
      font-weight: 600;
    }
  }

  .navLoginContainer {
    display: flex;
    align-items: center;
    cursor: pointer;

    .navLoginBtn {
      margin: 0 10px;
      font-size: 14px;
      color: white;
    }

    .fas {
      color: white;
    }
  }
}
