@import "../../../Styles/common.scss";

.HeaderNav {
  position: fixed;
  top: 0;
  z-index: 20;
  width: 100%;
  @include center(space-between);
  border-bottom: 1px solid #e2e2e2;
  padding: 0 10px;
  background-color: white;
  .wrapLogo {
    width: 15%;
    min-width: 100px;
    @include center(center);

    .logo {
      max-width: 50%;
    }
  }

  ol {
    @include center(space-around);
    width: 100%;

    li {
      position: relative;
      cursor: pointer;

      &.titleNav {
        @include center(center);
        width: 100%;
        max-width: 225px;
        height: 76px;
        font-size: 14px;

        &.normal {
          color: gray;
        }

        &.pushed {
          color: black;
        }
        &.actived {
          &::after {
            content: "";
            position: absolute;
            bottom: 0;
            background-color: #2796db;
            height: 3px;
            width: 100%;
          }
        }
      }
    }
  }

  .choiceLanguage {
    padding-right: 10px;
    width: 20%;
    text-align: right;
    font-size: 19px;
  }
}
